{% extends 'base_events.html' %}
{% block body %}
    <h2>Lista de eventos disponibles</h2>
    <table class="table-bordered table-hover">
        <tr>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de cierre</th>
            <th>Dirección</th>
            <th>Precio</th>
            <th></th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.price }}</td>
                <td>
                    <a href="/evento/detalle/{{ event.id }}/">más detalles</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
